@import '_/variables';
@import '_/typography';
@import '_/buttons';

body{
    background: url('../public/background.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}